# 这里定义了一个上游服务器，将在后面对其进行引用。
upstream ws-demo {
    server localhost:3000;
}

server {
	listen 8000;
	listen [::]:8000;

    location / {   #服务是非静态文件，设置nodejs服务的反向代理
        proxy_pass http://ws-demo;  
        proxy_redirect off;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header Connection "";  

        # 下面3个设置，是为了支持socket.io，进而实现WebSocket通信！！
        proxy_http_version 1.1;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection "upgrade";

    }

    location ~ ^/(img/|js/|css/|images/|flash/|media/)$ { #如果是静态文件 则劫持处理
        # 故在express中无需使用static中间件了？
        root /home/peng/ws-demo/static;  #your project url 
        access_log off;
        expires max;
    }
}
